@import url("https://fonts.googleapis.com/css?family=Quicksand|Satisfy&display=swap");
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.card-body {
  background: #feeeb8;
}
.pt-6 {
  padding-top: 4rem;
  font-family: "Satisfy";
}
a {
  font-family: "Quicksand";
  color: #212529;
}
a:hover {
  text-decoration: none;
  font-weight: 400;
}
